:root {
  font-size: 10px;
  background-color: yellow;
}
* {
  box-sizing: border-box;
}
body > div {
  display: flex;
}
aside {
  display: flex;
  flex: 3;
  flex-flow: column;
  align-items: stretch;
}
main {
  display: flex;
  flex: 7;
  flex-flow: row wrap;
  justify-content: space-around;
}

body {
  margin: 0 auto;
}
label,
select,
input,
button {
  display: block;
  width: 100%;
}
aside div {
  margin-bottom: 20px;
}
label {
  margin-bottom: 5px;
}
header h1 {
  margin: 0;
  text-align: center;
  background: url(../icons/bean_can.png) no-repeat 20% center,
    url(../icons/bean_can.png) no-repeat 80% center;
  background-size: 48px 48px;
}
header,
aside,
main,
footer {
  padding: 20px;
}
@media screen and (max-width: 800px) {
  body div {
    display: grid;
    max-width: 480px;
  }
  header h1 {
    background: url(../icons/bean_can.png) no-repeat 0% center,
      url(../icons/bean_can.png) no-repeat 100% center;
    background-size: 48px 48px;
  }
}
