* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
h1,
h2,
h3 {
  font-family: "Roboto Slab", "Rockwell", "Courier New", serif;
}
section {
  float: left;
  width: 50%;
}
aside {
  float: left;
  width: 30%;
}
nav {
  float: left;
  width: 20%;
}
footer {
  clear: both;
}
header,
section,
aside,
nav,
footer {
  padding: 20px;
}
header,
footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}
section p a {
  position: relative;
}
section p a::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  background-image: url(../images/external-link-52.png);
  background-size: contain;
  background-repeat: no-repeat;
}
h1 {
  font-size: 4rem;
  text-align: center;
  letter-spacing: 0.1em;
}
h2 {
  font-size: 3rem;
  letter-spacing: 0.08em;
}
h3 {
  font-size: 2.5rem;
  letter-spacing: 0.07em;
}
section h1 + p,
section h2 + p,
section h3 + p {
  text-indent: 20px;
}
ul li {
  list-style-type: square;
}
section ol li {
  list-style-type: lower-alpha;
}
nav li {
  list-style: none;
  margin-bottom: 1rem;
}
nav a {
  text-decoration: none;
  display: block;
  border: 1px solid;
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
}
